* {
    margin: 0;
    padding: 0;
    background-color: rgb(219, 219, 219);
    color: black
}

#container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#stage {
    width: 400px;
    height: 400px;
}

#flex {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}